*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(224, 224, 224);
    color: rgb(53, 53, 53);


}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    


}
.navbar{
    background-color: white;
    box-shadow:  0px 1px 3px;
    padding: 14px 0px;



}
.navbar.container{
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.logo img{
    height: 60px;



}
.nav-menu {
    display: flex;
    gap: 30px;

}
.nav-menu a {
  color: #3a3a3a;
  font-size: 16px;
}
.btn{
    background-color: rgb(61, 118, 223);
    font-size: 1em;
    color: white;
    border-radius: 8px;
    padding: 10px 16px;


}
.hero{
    padding: 80px;

}
.hero.container{



}