body{
    background-color: beige;
}
h3{
    color:rgb(147, 140, 73);
}
h1{
    color:rgb(147, 140, 73);
}
a{
    color: black;
    font-size: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif
}
